{% extends 'my_master.html' %}
{% block head_css %}
{{ super() }}
<style>
    .btn{color: #333333;!important}
</style>
{% endblock %}
{% block body %}
<form method="POST" action="/admin/userprofileview/changeemail">
    {{ changeEmailForm.csrf_token }}
    Email:<br>{{ changeEmailForm.email() }}<br>
    {% if changeEmailForm.email.errors %}
	    <ul class=errors>
	    {% for error in changeEmailForm.email.errors %}
	      <li>{{ error }}</li>
	    {% endfor %}
	    </ul>
  	{% endif %}
    <input class="btn" type="submit" value="Change email" id ="changeEmailSubmit">
</form>
<form method="POST" action="/admin/userprofileview/changepassword">
    {{ changePasswordForm.csrf_token }}
	Password:<br>{{ changePasswordForm.password() }}<br>
        {% if changePasswordForm.password.errors %}
	    <ul class=errors>
	    {% for error in changePasswordForm.password.errors %}
	      <li>{{ error }}</li>
	    {% endfor %}
	    </ul>
  	{% endif %}
    <input class="btn" type="submit" value="Change password" id ="changePasswordSubmit">
</form>
{% endblock body %}
